<section class="panel {{type}}" data-type="{{type}}">
    <div class="progress"></div>
    <video src="/static/media/{{video}}" controls preload data-preload data-subtitles='{{parseSRT subtitles}}'></video>

</section>
