<section class="panel {{type}}" data-type="{{type}}">
    <div class="progress"></div>
    <video src="/static/media/{{video}}" preload data-preload data-subtitles='{{parseSRT subtitles}}'></video>

    {{> door}}
</section>
