<section class="panel {{type}}" data-type="{{type}}">
    <div class="progress"></div>
    <video src="/static/media/{{video}}" {{#if door}}data-door{{/if}} preload {{#if subtitles}}data-subtitles='{{parseSRT subtitles}}'{{/if}}></video>
</section>
