<div class="end-menu">
	<a href="/end/share">{{__ 'Compartir'}}</a> //
	<a href="/end/videos">{{__ 'Videos webcam'}}</a> //
	<a href="/end/credits">{{__ 'Créditos'}}</a> //
	<a href="/hub">{{__ 'Volver al imaginario'}}</a>

</div>