    <section class="notalegal is-hidden">

   		<div class="fineprint">
    	<h1>Condiciones legales</h1>

        <p>Al acceder y utilizar el sitio web projectefam.cc o cualquiera de sus subdominios aceptas cumplir estas condiciones de uso ("Condiciones de uso"). El webdoc H-A-M-B-R-E en castellano), lo que se ve lo que se esconde. es propiedad la Fundación Privada Quepo. Estas Condiciones de uso afectan a tus derechos y obligaciones legales. Si no aceptas cumplir todas estas Condiciones de uso, no accedas ni utilices el Webdoc.</p>


        <p class="strong">AVISO DE ARBITRAJE: EXCEPTO EN EL CASO DE QUE RENUNCIES O SE PRODUZCAN DETERMINADOS TIPOS DE CONFLICTOS DESCRITOS EN LA SIGUIENTE SECCIÓN DE ARBITRAJE, ACEPTAS QUE LOS CONFLICTOS QUE MANTENGAS CON QUEPO SE RESOLVERÁN MEDIANTE ARBITRAJE INDIVIDUAL Y VINCULANTE, Y RENUNCIAS AL DERECHO DE PARTICIPAR EN UNA DEMANDA DE GRUPO O UN ARBITRAJE COLECTIVO.</p>


        <h2>Condiciones:</h2>
        <ol>
	        <li>Debes ser mayor de 14 años de edad para navegar el webdoc H-A-M-B-R-E.</li>
	        <li>No puedes publicar fotos u otro tipo de contenido que muestre imágenes violentas, de desnudos íntegros o parciales, discriminatorias, ilegales, transgresoras, de mal gusto, pornográficas o con contenido sexual a través del webdoc.</li>
	        <li>Al activar la cámara aceptas que las imágenes grabadas se incorporen al contenido del webdoc. En ningún caso Quepo o ProjecteFAM compartirán esas imágenes fuera del proyecto. Cedes tu derecho de imágen para que el video que grabes sea incorporado a la realización pública del webdoc y otros usuarios puedan ver los videos grabados.</li>
	        <li>Aceptas no recopilar o utilizar los videos grabados por otros usuarios de H-A-M-B-R-E.</li>
	        <li>No debes difamar, acosar, intimidar, abusar, hostigar, amenazar, intimidar o hacerte pasar por personas o entidades, y tampoco debes grabar en los videos información privada o confidencial que quede publicada a través del webdoc, incluida sin limitación, la información de la tarjeta de crédito, los números de la seguridad social o del documento nacional de identidad, los números de teléfono o direcciones de correo electrónico privados que te pertenezcan a ti o sean propiedad de cualquier otra persona.</li>
	        <li>No puedes utilizar webdoc para ningún propósito no autorizado o ilegal. Aceptas cumplir todas las leyes, reglas y normativas (por ejemplo, las de ámbito federal, estatal, local y provincial) aplicables al uso que hagas del Webdoc y a tu Contenido (que se define más adelante), incluidas sin limitación, las leyes de derechos de autor. Eres el único responsable de tu conducta y de los datos, texto, archivos, información, nombres de usuario, imágenes, gráficos, fotos, perfiles, clips de audio y vídeo, sonidos, obras musicales, trabajos de autoría, aplicaciones, enlaces y otro contenido o materiales (denominados en su conjunto "Contenido") que publiques o muestres en el video del webdoc.</li>
	        <li>No debes cambiar, modificar, adaptar o alterar el Webdoc, ni cambiar, modificar o alterar otro sitio web para que de ello se deduzca erróneamente que está asociado al transmedia ProjecteFAM.</li>
	        <li>Este webdoc es Creative Commons. Puedes compartir y comunicar este webdoc siempre y cuando hagas un uso no comercial, menciones a los autores (fundación Quepo, Pablo Zareceasnky, Sonia Ros y Lucía Andujar) y lo hagas bajo la misma licencia creative commons.</li>
	        <li>No debes utilizar nombres de dominio o direcciones URL de la web en tu nombre sin el consentimiento previo por escrito de Fundación Quepo.</li>
	        <li>No debes perjudicar ni interferir en la web o los servidores o las redes conectados al Webdoc, lo que incluye la transmisión de gusanos, virus, programas espía, software malintencionado o cualquier otro código de naturaleza destructiva o perjudicial. No puedes insertar contenido o código, ni alterar o interferir en el modo en el que se presenta o se muestra cualquier página ProjecteFAM en un explorador o dispositivo del usuario.</li>
	        <li>No debes intentar restringir a otro usuario el uso o disfrute de H-A-M-B-R-E y no debes fomentar o facilitar las infracciones de estas Condiciones de uso.</li>
	        <li>La infracción de estas Condiciones de uso puede dar como resultado la eliminación de los videos subidos al webdoc, lo cual queda a la entera discreción la Fundación Quepo. Entiendes y aceptas que Fundación Quepo no puede ni se hará responsable del Contenido publicado en el webdoc y utilizarás el mismo bajo tu propia responsabilidad. Si infringes la esencia o el espíritu de estas Condiciones de uso, o de algún otro modo provocas el riesgo de que seamos expuestos legalmente, podríamos eliminar los contenidos que has subido al Webdoc.</li>
	        <li>Puedes solicitar enviando un mail a info@quepo.org la eliminación de uno o varios videos siempre y cuando indiques el numero de usuario que se encuentra junto a los vidos en el apartado Videos Webcam al final del webdoc en la página https://webdoc.projectefam.cc/end/videos.</li>
        </ol>


        <h2>Descargo de responsabilidad</h2>


        <p class="strong">FUNDACIÓN QUEPO SE HACE RESPONSABLE DE TODO LAS CUESTIONES LEGALES DERIVADAS DEL WEBDOC INCLUIDAS LA GESTIÓN DE DERECHOS DE IMAGEN; DE AUTOR; COPYRIGHT, ASÍ COMO CUALQUIER OTRA CUESTIÓN RELACIONADA CON EL CONTENIDO DEL WEBDOC H-A-M-B-R-E, DESCARGANDO POR TANTO, CUALQUIER RESPONSABILIDAD QUE PUDIERA SER ATRIBUIBLE A TERCEROS QUE COMPARTAN EL WEBDOC O FACILITEN SU DIFUSIÓN, EXHIBICIÓN O DISTRIBUCIÓN, INCLUIDOS LOS MEDIOS DE COMUNICACIÓN QUE CEDAN SUS CANALES PARA LA EXHIBICIÓN DEL MISMO:</p>


        <p class="strong">LAS PARTES DE FUNDACIÓN QUEPO NO MANIFIESTAN NI GARANTIZAN QUE EL WEBDOC NO CONTENGA ERRORES O NO SE INTERRUMPA; QUE LOS DEFECTOS SE CORREGIRÁN; O QUE EL WEBDOC O EL SERVIDOR QUE PERMITE QUE EL WEBDOC ESTÉ DISPONIBLE NO CONTENGA COMPONENTES PERJUDICIALES, INCLUIDOS SIN LIMITACIÓN, LOS VIRUS. ACEPTAS QUE EL USO QUE HAGAS DE ESTE WEBDOC CORRE BAJO TU RESPONSABILIDAD. LAS PARTES DE FUNDACIÓN QUEPO NO GARANTIZAN QUE EL USO DEL WEBDOC SEA LEGAL EN NINGUNA JURISDICCIÓN CONCRETA, Y LAS PARTES DE FUNDACIÓN QUEPO DESCARGAN ESPECÍFICAMENTE DICHA RESPONSABILIDAD. ALGUNAS JURISDICCIONES LIMITAN O NO PERMITEN EL DESCARGO DE RESPONSABILIDAD IMPLÍCITO O DE OTRO TIPO, DE MODO QUE ES POSIBLE QUE EL DESCARGO DE RESPONSABILIDAD ANTERIOR NO SE APLIQUE EN TU CASO SI LA LEY DE DICHA JURISDICCIÓN SE APLICA A TU CASO Y AFECTA A ESTAS CONDICIONES DE USO.</p>

        </div>


        <button>{{__ 'Cerrar nota legal'}}</button>
    </section>
