<section class="panel {{type}}" data-type="{{type}}" data-dock>
    <div class="tray">
        <div class="canvas">
            <img src="/static/img/canvas/1_portada.png" data-year="1949">
            <img src="/static/img/canvas/2_Biafra.png" data-year="1995">
            <img src="/static/img/canvas/2_Biafra_1.png">
            <img src="/static/img/canvas/3_sahel.png" data-year="2000">
            <img src="/static/img/canvas/4_etiopia.png">
        </div>
        <!-- <div class="tray-bottom"></div> -->
    </div>
    <div class="handler">
        <div class="end top">
            {{init}}
        </div>
        <div class="slider">
            <div class="scrubber">
            <span class="text">2000</span>
            </div>
        </div>
        <div class="end bottom">
            {{end}}
        </div>
    </div>
    {{> door}}
</section>
