<section class="panel {{type}}" data-type="{{type}}">
    <div class="tray">
        <div class="canvas">
            <img src="/static/img/canvas/1_portada.png">
            <img src="/static/img/canvas/2_Biafra.png">
            <img src="/static/img/canvas/2_Biafra_1.png">
            <img src="/static/img/canvas/3_sahel.png">
            <img src="/static/img/canvas/4_etiopia.png">
        </div>
    </div>
    <div class="handler">
        <div class="end top">
            {{init}}
        </div>
        <div class="slider">
            <div class="scrubber">

            </div>
        </div>
        <div class="end bottom">
            {{end}}
        </div>
    </div>
</section>
