.sequence {
    .timeline {
        background: $positive;
        position: relative;
        .tray {
            background-image: url(/static/img/canvas/fondo_canvas.jpg);
            background-size: fit;
            overflow-y: hidden;

            .tray-bottom {
                height: 100vh;
            }

            .canvas {
                div {
                    position: relative;

                    &.unknown {
                        video {
                            width: 35vw;
                            top: 30vh;
                            left: 50%;
                            margin-left: -35vw;
                        }
                    }

                    &.bangladesh {
                        video {
                            width: 35vw;
                            top: 30vh;
                            left: 55%;
                        }
                    }

                    &.ethiopia {
                        video {
                            width: 40vw;
                            top: 30vh;
                            left: 44%;
                        }
                    }

                    &.wearetheworld {
                        video {
                            width: 25vw;
                            top: 20vh;
                            left: 42%;
                        }
                    }

                    &.somalia {
                        video {
                            width: 34vw;
                            top: 60vh;
                            left: 5%;
                        }
                    }

                    &.kissinger {
                        audio {
                            top: 50vh;
                            left: 5%;
                        }
                    }

                    video, audio {
                        position: absolute;
                        z-index: 100;
                    }

                    img {
                        width: 100%;
                    }
                }

            }
        }

        .handler {
            position: fixed;
            box-sizing: border-box;
            padding: 0 1rem;
            left: 192vw;
            top: 0;
            height: 100vh;
            width: 6rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            z-index: 10001;

            .slider {
                flex-grow: 1;
                width: 100%;
                background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAADElEQVQI12P4//8/AAX+Av7czFnnAAAAAElFTkSuQmCC);
                background-position: center top;
                background-repeat: repeat-y;

                .scrubber {
                    position: relative;
                    background: $red;
                    height: .3rem;
                    width: 100%;

                    .text {
                        position: absolute;
                        font-weight: 600;
                        font-size: 1.6rem;
                        top: -14px;
                        left: -210px;
                        width: 200px;
                        text-align: right;
                        text-shadow: 1px 1px 1px $positive;

                    }
                }
            }

            .end {
                font-weight: 800;
                color: $red;
                font-size: 2rem;
                padding: 1rem 0;
                background: transparent;

                &.top {
                    border-top: 1rem solid $red;
                }
                &.bottom {
                    border-bottom: 1rem solid $red;
                }
            }
        }
    }

}
