.sequence {
    .title {
        flex-direction: column;
        @include flexCenter;
        background: $positive;

        h1 {
            padding: 4rem;
            font-size: 3rem;
        }

        a {
        	color: $negative;
        }
    }
}
