@mixin centered() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

@mixin fullscreen() {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

//Animation mixins


@mixin fadein {
    animation-name: fadein;
    animation-duration: 2s;
    animation-fill-mode: forwards;

}

//Flex

@mixin flexCenter {
    align-items: center;
    justify-content: center;

    div.camera {
        background: $block;
        margin-top: 2rem;
        padding: 2rem;

        i {
            display: block;
            margin: 2rem;
        }

        button {
            border: none;
            background: $negative;
            color: $color;
            padding: .5rem 1rem;
        }
    }
}