//Variables
$positive: #fff;
$negative: #000;
$link: #3079ed;
$block: #eee;

//Modules
@import '../web_modules/font-awesome/scss/font-awesome';
@import 'mixins';
@import 'animations';
@import 'utilities/normalize';

//Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800);


//Pages
@import 'sections/home';
@import 'sections/intro';
@import 'sections/mashup';
@import 'sections/hub';

//Sequence panels
@import 'panels/title';
@import 'panels/autoplay';
@import 'panels/vff';
@import 'panels/viei';
@import 'panels/flipbook';


//Generic
* {
    transition:opacity 0.4s linear;

    .is-hidden {
        opacity:0;
        pointer-events: none;
    }
}

.panel {
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
}

.panel.fixed {
    position: fixed;
    top:0;
    left:0;
}

[data-preloader] {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 100vw;
    background: $negative;

    [data-bar] {
        background: $positive;
        width: 0;
        height: 1rem;
        transition: width 0.2s linear;
    }
}