//Variables
$positive: #000;
$negative: #fff;
$link: #3079ed; //Azul claro
$block: #eee;
$red: #6b1414;
$bgalpha: rgba(0,0,0,.5);

//Fonts
// @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import 'utilities/fonts';

//Modules
@import '../web_modules/font-awesome/scss/font-awesome';
@import '../../../node_modules/perfect-scrollbar/src/css/main';
@import 'mixins';
@import 'animations';
@import 'utilities/normalize';


//Pages
@import 'sections/home';
@import 'sections/start';
@import 'sections/intro';
@import 'sections/mashup';
@import 'sections/hub';
@import 'sections/sequence';
@import 'sections/end';

//Sequence panels
@import 'panels/title';
@import 'panels/end';
@import 'panels/autoplay';
@import 'panels/vff';
@import 'panels/viei';
@import 'panels/timeline';
@import 'panels/generic';

//Generic

body {
  font-family: 'Montserrat', sans-serif;
  background: $positive;
  color: $negative;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  overflow-x: hidden;

  .main-container {
    max-width: 2000px;
    min-width: 1024px;
    margin: 0 auto;

    article {
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

* {
  transition: opacity 0.4s linear;

  .is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.panel {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
}

.panel.fixed {
  position: fixed;
  top: 0;
  left: 0;
}

[data-preloader] {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100vw;
  background: $negative;

  [data-bar] {
    background: $positive;
    width: 0;
    height: 0.2rem;
    position: absolute;
    margin-top: -0.1rem;
    top: 50%;
    transition: width 0.2s linear;
  }
}