.end {
	background-image: url('/static/img/fondo_end.jpg');
	background-position: center;

	&.share {
		.panel {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;

			.share {
				margin: 1em;

				img {
					width: 100%;
				}

				.buttons {
					margin-top: 2rem;
					font-size: 2rem;
					text-align: center;
					a {
						color: $negative;
					}
				}

			}
		}
	}

	&.videos {
		.panel {
			display: flex;
			flex-direction: row;

			ul {
				margin: 2rem;
				padding: 0;
				list-style: none;

				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				align-content: flex-start;

				li {
					width: 50%;

					.video-pair {
						display: flex;
						flex-direction: row;
						padding: 1rem;

						> div {
							padding: .3rem;
							max-width: 40%;
						}

						.user {
							color: $red;
							max-width: 20%;

							font-size: 1.2rem;
							font-weight: 800;
							text-align: right;


							strong {
								display: block;
								font-size: 2rem;
								margin-top: -.5rem;
							}

						}

						video {
							max-width: 100%;
							cursor: pointer;
						}
					}
				}
			}
		}

	}

	&.credits {
		.panel {
			display: flex;
			flex-direction: row;


			> div {
				margin: 4rem;
				flex-grow:1;
				flex-basis: 0;
			}

			.branding {

				p.title {
					font-size: 2rem;
					font-weight: 200;
				}

				img.title {
					max-width: 100%;
				}

				a.title {
					font-size: 2rem;
					margin-bottom: 3rem;
				}

				text-align: center;

				a {
					color: $negative;
					font-weight: 600;
					text-decoration: none;
					display: block;
					margin-top: 1rem;
				}
			}

			.credits {
				padding-bottom: 20rem;
				h1 {
					color: $red;
					margin: 1rem 0 .5rem 0;
					font-size: 1.7em;
				}

				ul {
					margin: 0;
					padding: 0;
					list-style: none;
					font-weight: 200;

					li {
						font-size: 1.3rem;
						a{
							color: $negative;
							text-decoration: none;
						}
					}
				}

				p {
					font-size: 1.4rem;
				}
			}
		}

	}

	.end-menu {
		position: fixed;
		left: 1rem;
		bottom: 2rem;
		padding: 1rem;
		background: $positive;

		a{
			color: $negative;
			text-decoration: none;
			text-transform: uppercase;
			font-weight: 800;
			padding: 0 .5rem;
		}
	}
}