.hub {
    .panel {
        display: block;
        .part {
            z-index: 0;
            img {
                @include fullscreen;
                display: none;
            }
            &.visible img {
                display: block;
            }
        }
    }

    .go {
        position: absolute;
        top:0;
        left: 0;
        right: 0;
        padding: 12px;
        box-sizing: border-box;
        text-align: center;
        color: $positive;
        cursor: pointer;
        background: $red;
        color: $negative;
        margin: 0 auto;
        text-decoration: none;
        font-weight: 800;
        font-size: 1.2rem;
        padding: .7rem 2rem;
        width: 200px;
        box-shadow: 0px 0px 4px $positive;
    }
    .overlay {
        position: absolute;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: space-between;

        .f {
            display: none;
        }

        .title {
            width: 33.333vw;
            text-decoration: none;
            font-size: 4rem;
            padding-bottom: 150px;
            background-image: url('/static/img/icono_mosaico.png');
            background-repeat: no-repeat;
            background-position: center bottom 30px;
            margin-top: 40px;
            z-index: 2;

            &.s1, &.s2, &.s3 {
                background-image: url('/static/img/icono_mosaico_visto.png');
            }

            &:nth-child(2) {
                position: absolute;
                width: 100vw;
                hegith: 100%;
                text-align: center;
                z-index: 0;

            }
            &:last-child {
                text-align: right;
                direction: rtl;
            }

            span {
                font-weight: 900;
                text-transform: uppercase;
                color: #fff;
                text-shadow: 2px 2px 2px $positive;
                display: block;
                white-space: nowrap;
                opacity: 0;
                transition: opacity 0.1s linear;
                &.visible {
                    opacity: 1;
                }
            }
        }
    }
}
