.intro {
    section {

        video {
            @include fullscreen;
            position: absolute;
        }

        .controls {
            position: absolute;
            text-align: center;
            bottom: 10%;
            min-width: 100%;

            button {
                @include button;
                font-size: 2rem;
            }

            .bar {
                width: 0;
                height: .2rem;
                background: $positive;
                transition: width 10s linear;

                &.recording {
                    width: 100%;
                }
            }
        }
    }
}