.intro {
    section {

        video {
            @include fullscreen;
            position: absolute;
        }

        .pre-record {
            position: absolute;
            width: 100%;
            font-size: 10rem;
            top: 50%;
            text-align: center;
            margin-top: -5rem;

            &.counting {
                @include zoomtext;
            }
        }

        .bar {
            position: absolute;
            bottom: 20px;
            width: 0;
            height: .2rem;
            background: $negative;
            transition: width 10s linear;
            z-index: 120;

            &.recording {
                width: 100%;
            }
        }

        .controls {
            padding: 2rem;
            box-sizing: border-box;
            z-index: 100;
            width: 100vw;
            height: 100vh;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;

            .info {
                background: $bgalpha;
                width: 20vw;
                padding: 2rem;
            }

            .button-list {
                display: flex;
                flex-direction: column;

                background-color: $bgalpha;

                button[data-start], button[data-restart] {
                    background-image: url('/static/img/rec.png');
                }
                button[data-play] {
                    background-image: url('/static/img/icono_ojo.png');
                }
                button[data-save] {
                    background-image: url('/static/img/icono_aceptar.png');
                }


                button {
                    @include button;
                    text-transform: uppercase;
                    background-repeat: no-repeat;
                    background-position: center 1rem;
                    background-color: transparent;
                    color: $negative;
                    outline: none;
                    padding: 5rem 1rem 0.5rem 1rem;
                    font-size: 1.3rem;
                }
            }

        }
    }
}