.sequence {
    position: relative;
    transition: transform 1s;

    .side {
        width: 100vw;
        height: 100vh;
        overflow: scroll;
        position: absolute;

        &.adquired {

        }

        &.missing {
            left: 100vw;
            top: 0;
        }
    }

    &.lateral {
        transform: translateX(-100vw);
    }

    .panel {
        position: relative;

        .progress {
            position: absolute;
            right: 1rem;
            top: 1rem;
        }

        .door {
            position: absolute;
            height: 100vh;
            width: 100vw;
            background: url('/static/img/door.png');
            background-size: auto 100%;
            left: 100vw;
            transition: left 1s;
            cursor: pointer;
        }


    }

    .subtitles {
        position: fixed;
        bottom: 15vh;
        margin: 0 20vw;
        width: 60vw;
        text-align:center;
        font-size: 2.5rem;
        text-shadow: 2px 2px 0px $positive;
    }
}
