.start {
    background-image: url('/static/img/portada_camara_fondo.jpg');
    background-position: center;
    .panel {
        min-width: auto;
    }
    .panel.title {
        flex-direction: column;
        @include flexCenter;
        .cover {
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-image: url('/static/img/portada_camara_cuadrados_codigo.png');
        }
        header {
            text-align: center;
            h1,
            video {
                display: none;
            }
            canvas {}
            p {
                background: url('/static/img/subtitle.png');
                width: 781px;
                height: 153px;
                margin: 0 auto;
                color: transparent;
                opacity: 0;
                @include leftfade("1s",
                "2s");
            }
        }
        ul.tipology {
            display: flex;
            flex-direction: row;
            @include flexCenter;
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                min-width: 7rem;
                margin: 2rem 3rem;
                text-align: left;
                padding-left: 110px;
                opacity: 0;
                &.ico-exp {
                    background: url('/static/img/icono_puntero.png') no-repeat;
                    @include fadein("2s",
                    "1s");
                }
                &.ico-tip {
                    background: url('/static/img/icono_sinopsis.png') no-repeat;
                    @include fadein("3s",
                    "1s");
                }
                &.ico-dur {
                    background: url('/static/img/icono_tiempo.png') no-repeat;
                    @include fadein("4s",
                    "1s");
                }
                i {
                    display: block;
                    margin: 0 0 1rem 0;
                }
                p {
                    font-size: .8rem;
                }
            }
        }
        [data-start] {
            background: url('/static/img/icono_flecha.png');
            border: none;
            color: transparent;
            width: 52px;
            height: 53px;
            outline: none;
            opacity: 0;
            @include fadein('5s',
            '1s');
        }
    }
    .panel.permissions {
        display: flex;
        flex-direction: column;
        @include flexCenter;
        text-align: center;
        header {
            display: flex;
            flex-direction: row;
            @include flexCenter;
            background: url('/static/img/vols_viure_experiencia.png') no-repeat center right;
            width: 800px;
            height: 174px;
            h1 {
                flex: 1 0 auto;
                width: 450px;
            }
            p {
                font-size: 0.9rem;
            }
        }
        div.camera {
            width: 638px;
            height: 500px;
            box-sizing: border-box;
            background: url('/static/img/cuadrado_ojo.png') no-repeat;
            padding: 6rem 4rem 0rem 4rem;
            margin-top: -4rem;

            strong {
                font-size: 3rem;
            }
            p {
                font-size: 1.7rem;
            }
            button {
                color: $negative;
                border: none;
                background: transparent;
                display: block;
                margin: 0 auto;
                padding: 0rem 3rem;
                margin-bottom: 1rem;

                &[data-activate] {
                    background: $red;
                    font-size: 3rem;
                    margin-top: 5rem;
                }
            }
        }
    }
}
