<article class="end credits" data-page="credits">
    <section class="panel title">
    	<div class="branding">
    		<p>{{__ 'Este webdoc forma parte del proyecto transmedia ProjecteFAM'}}</p>

    		<img src="/static/img/logo_fam.png">

    		<a href="http://projectefam.cc" data-external target="_blank">{{__ 'projectefam.cc'}}</a>

    	</div>

    	<div class="credits">
    		<h1>Dirigido por</h1>
    		<ul>
    			<li>Foo the foo</li>
    			<li>Bar the best</li>
    		</ul>
    		<h1>Dirigido por</h1>
    		<ul>
    			<li>Foo the foo</li>
    			<li>Bar the best</li>
    		</ul>
    		<h1>Dirigido por</h1>
    		<ul>
    			<li>Foo the foo</li>
    			<li>Bar the best</li>
    		</ul>
    		<h1>Dirigido por</h1>
    		<ul>
    			<li>Foo the foo</li>
    			<li>Bar the best</li>
    		</ul>
    		<h1>Dirigido por</h1>
    		<ul>
    			<li>Foo the foo</li>
    			<li>Bar the best</li>
    		</ul>
    		<h1>Dirigido por</h1>
    		<ul>
    			<li>Foo the foo</li>
    			<li>Bar the best</li>
    		</ul>
    		<h1>Dirigido por</h1>
    		<ul>
    			<li>Foo the foo</li>
    			<li>Bar the best</li>
    		</ul>
    		<h1>Dirigido por</h1>
    		<ul>
    			<li>Foo the foo</li>
    			<li>Bar the best</li>
    		</ul>
    		<h1>Dirigido por</h1>
    		<ul>
    			<li>Foo the foo</li>
    			<li>Bar the best</li>
    		</ul>
    		<h1>Dirigido por</h1>
    		<ul>
    			<li>Foo the foo</li>
    			<li>Bar the best</li>
    		</ul>
    		<h1>Dirigido por</h1>
    		<ul>
    			<li>Foo the foo</li>
    			<li>Bar the best</li>
    		</ul>
    		<h1>Dirigido por</h1>
    		<ul>
    			<li>Foo the foo</li>
    			<li>Bar the best</li>
    		</ul>
    		<h1>Dirigido por</h1>
    		<ul>
    			<li>Foo the foo</li>
    			<li>Bar the best</li>
    		</ul>
    		<h1>Dirigido por</h1>
    		<ul>
    			<li>Foo the foo</li>
    			<li>Bar the best</li>
    		</ul>
    		<h1>Dirigido por</h1>
    		<ul>
    			<li>Foo the foo</li>
    			<li>Bar the best</li>
    		</ul>
    		<h1>Dirigido por</h1>
    		<ul>
    			<li>Foo the foo</li>
    			<li>Bar the best</li>
    		</ul>
    		<h1>Dirigido por</h1>
    		<ul>
    			<li>Foo the foo</li>
    			<li>Bar the best</li>
    		</ul>
    		<h1>Dirigido por</h1>
    		<ul>
    			<li>Foo the foo</li>
    			<li>Bar the best</li>
    		</ul>
    		<h1>Dirigido por</h1>
    		<ul>
    			<li>Foo the foo</li>
    			<li>Bar the best</li>
    		</ul>
    		<h1>Dirigido por</h1>
    		<ul>
    			<li>Foo the foo</li>
    			<li>Bar the best</li>
    		</ul>
    		<h1>Dirigido por</h1>
    		<ul>
    			<li>Foo the foo</li>
    			<li>Bar the best</li>
    		</ul>
    		<h1>Dirigido por</h1>
    		<ul>
    			<li>Foo the foo</li>
    			<li>Bar the best</li>
    		</ul>
    		<h1>Dirigido por</h1>
    		<ul>
    			<li>Foo the foo</li>
    			<li>Bar the best</li>
    		</ul>
    		<h1>Dirigido por</h1>
    		<ul>
    			<li>Foo the foo</li>
    			<li>Bar the best</li>
    		</ul>
    		<h1>Dirigido por</h1>
    		<ul>
    			<li>Foo the foo</li>
    			<li>Bar the best</li>
    		</ul>
    		<h1>Dirigido por</h1>
    		<ul>
    			<li>Foo the foo</li>
    			<li>Bar the best</li>
    		</ul>
    		<h1>Dirigido por</h1>
    		<ul>
    			<li>Foo the foo</li>
    			<li>Bar the best</li>
    		</ul>
    		<h1>Dirigido por</h1>
    		<ul>
    			<li>Foo the foo</li>
    			<li>Bar the best</li>
    		</ul>
    		<h1>Dirigido por</h1>
    		<ul>
    			<li>Foo the foo</li>
    			<li>Bar the best</li>
    		</ul>
    		<h1>Dirigido por</h1>
    		<ul>
    			<li>Foo the foo</li>
    			<li>Bar the best</li>
    		</ul>
    		<h1>Dirigido por</h1>
    		<ul>
    			<li>Foo the foo</li>
    			<li>Bar the best</li>
    		</ul>
    	<div>

    {{> end-menu}}
    </section>

</article>
