<article class="home">
    <section class="panel title">
        <header>
            <h1>{{__ 'HAMBRE'}}</h1>
            <ul>
                <li><a data-external href="/locale/ca">{{__ 'CA'}}</a> //</li>
                <li><a data-external href="/locale/en">{{__ 'IN'}}</a> //</li>
                <li><a data-external href="/locale/es">{{__ 'ES'}}</a></li>
            </ul>
        </header>

    </section>
</article>