<article class="hub">
    <div class="overlay">
        <a href="/sequence/1" class="title">
            <span>concepto 1</span>
            <span>concepto 2</span>
            <span>concepto 3</span>
            <span>concepto 4</span>
            <span>concepto 5</span>
            <span>concepto 6</span>
            <span>concepto 7</span>
            <span>concepto 8</span>
            <span>concepto 9</span>
            <span>concepto 10</span>
        </a>
        <a href="/sequence/2" class="title">
            <span>concepto 1</span>
            <span>concepto 2</span>
            <span>concepto 3</span>
            <span>concepto 4</span>
            <span>concepto 5</span>
            <span>concepto 6</span>
            <span>concepto 7</span>
            <span>concepto 8</span>
            <span>concepto 9</span>
            <span>concepto 10</span>
        </a>
        <a href="/sequence/3" class="title">
            <span>concepto 1</span>
            <span>concepto 2</span>
            <span>concepto 3</span>
            <span>concepto 4</span>
            <span>concepto 5</span>
            <span>concepto 6</span>
            <span>concepto 7</span>
            <span>concepto 8</span>
            <span>concepto 9</span>
            <span>concepto 10</span>
        </a>
    </div>
    <div class="panel">
        <div class="part"><img src="/static/img/1.jpg"></div>
        <div class="part"><img src="/static/img/2.jpg"></div>
        <div class="part"><img src="/static/img/3.jpg"></div>
        <div class="part"><img src="/static/img/4.jpg"></div>
        <div class="part"><img src="/static/img/5.jpg"></div>
        <div class="part"><img src="/static/img/6.jpg"></div>
        <div class="part"><img src="/static/img/7.jpg"></div>
        <div class="part"><img src="/static/img/8.jpg"></div>
        <div class="part"><img src="/static/img/9.jpg"></div>
        <div class="part"><img src="/static/img/10.jpg"></div>
        <div class="part"><img src="/static/img/11.jpg"></div>
        <div class="part"><img src="/static/img/12.jpg"></div>
        <div class="part"><img src="/static/img/13.jpg"></div>
        <div class="part"><img src="/static/img/14.jpg"></div>
        <div class="part"><img src="/static/img/15.jpg"></div>
        <div class="part"><img src="/static/img/16.jpg"></div>
        <div class="part"><img src="/static/img/17.jpg"></div>
        <div class="part"><img src="/static/img/18.jpg"></div>
        <div class="part"><img src="/static/img/19.jpg"></div>
        <div class="part"><img src="/static/img/20.jpg"></div>
        <div class="part"><img src="/static/img/21.jpg"></div>
        <div class="part"><img src="/static/img/22.jpg"></div>
        <div class="part"><img src="/static/img/23.jpg"></div>
        <div class="part"><img src="/static/img/24.jpg"></div>
        <div class="part"><img src="/static/img/25.jpg"></div>
        <div class="part"><img src="/static/img/26.jpg"></div>
        <div class="part"><img src="/static/img/27.jpg"></div>
        <div class="part"><img src="/static/img/28.jpg"></div>
        <div class="part"><img src="/static/img/29.jpg"></div>
        <div class="part"><img src="/static/img/30.jpg"></div>
    </div>
</article>
