<article class="mashup">
    <section class="panel title">
        {{#each videos}}
        <video data-preload class="is-hidden" preload="none" type="video/webm" src="/uploads/{{../where}}/{{this}}"></video>
        {{/each}}
        <video data-preload class="is-hidden" preload="none" type="video/mp4" src="/static/media/sample.mp4"></video>
    </section>
</article>