<article class="sequence" data-id="{{data.id}}">
    {{#if data.adquired}}
    <section class="side adquired">
        {{#each data.adquired}}
           {{> (lookup . 'type')}}
        {{/each}}
    </section>
    {{/if}}
    {{#if data.missing}}
    <section class="side missing">
        {{#each data.missing}}
           {{> (lookup . 'type')}}
        {{/each}}
    </section>
    {{/if}}
</article>